@*http://techiejourney.com/asp-net-5-view-components-building-a-bootstrap-navigation-menu/*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Crafters</title>

    <environment names="Development">          
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
       

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
   
        <!---Pagewise styles-->
        <link href="~/css/login.css" rel="stylesheet" asp-append-version="true" />
        <!---Pagewise scripts-->
        <script src="~/js/login.js"></script>
        
    </environment>
    <environment names="Staging,Production">
       
    </environment>  
</head>
<body>    
    @RenderBody()       
</body>
</html>
